.parallax {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.scroller {
  display: flex;
  white-space: nowrap;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.scroller span {
  display: inline-block;
  font-size: 2.8rem;
  font-weight: 700;
  font-family: var(--font-display);
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  margin-right: 2rem;
  user-select: none;
  pointer-events: none;
}

